In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("Police_Data.csv")

In [7]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [9]:
# Assuming df is your DataFrame
# Q. 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.
df.dropna(axis=1, how='all', inplace=True)
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [13]:
# Q. 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ? 
speeding_data = df[df['violation'] == 'Speeding']
speeding_counts_by_gender = speeding_data['driver_gender'].value_counts()
print(speeding_counts_by_gender)

M    25517
F    11686
Name: driver_gender, dtype: int64

In [14]:
# Q. 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ?
search_freq_by_gender = df.groupby('driver_gender')['search_conducted'].mean()
search_freq_by_gender.head()

driver_gender
F    0.022440
M    0.046785
Name: search_conducted, dtype: float64

In [20]:
# Q. 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?
# Mapping stop_duration to numerical values
duration_mapping = {'0-15 Min': 7.5, '16-30 Min': 23, '30+ Min': 45}
df['stop_duration_numeric'] = df['stop_duration'].map(duration_mapping)

# Calculating mean stop_duration
mean_stop_duration = df['stop_duration_numeric'].mean()
print("Mean stop duration:", mean_stop_duration)

Mean stop duration: 12.001195627419722

In [19]:
# Q. 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation
age_stats_by_violation = df.groupby('violation')['driver_age'].describe()
age_stats_by_violation.head()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0