In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cars.csv")

In [4]:
# Q. 1) Instruction ( For Data Cleaning ) - Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.
# Selecting only numeric columns
numeric_columns = df.select_dtypes(include='number')

# Filling null values with the mean of each numeric column
df[numeric_columns.columns] = numeric_columns.fillna(numeric_columns.mean())

df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [5]:
# Q. 2) Question ( Based on Value Counts )- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data ?
make_counts = df['Make'].value_counts()
print(make_counts)

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [6]:
# Q. 3) Instruction ( Filtering ) - Show all the records where Origin is Asia or Europe.
filtered_df = df[df['Origin'].isin(['Asia', 'Europe'])]
print(filtered_df)

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[281 rows x 15 columns]

In [7]:
# Q. 4) Instruction ( Removing unwanted records ) - Remove all the records (rows) where Weight is above 4000.
df = df[df['Weight'] <= 4000]
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0

In [8]:
# Q. 5) Instruction ( Applying function on a column ) - Increase all the values of 'MPG_City' column by 3.
df['MPG_City'] += 3
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,21.0,24.0,3893.0,115.0,197.0